# Project exclude paths
*.iml

IPG_SDK/build/

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Gradle files
.gradle
.gradle/
build/
*/build/

/captures
.externalNativeBuild
.cxx
local.properties